footer {
    padding: 30px;
    background: #0f0f0f;
    text-align: center;
    border-top: 1px solid #252525;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #a0a0a0;
    font-size: 0.9rem;
}